@charset "utf-8";
/* CSS Document */
.coverpage_layout{
	width:950px;
	margin:0 auto;
	clear:both;
}
/*左边部分*/
.coverpage_left{
	width:230px;
	float:left;
}
.coverpage_left_title{
	width:230px;
	height:25px;
	background:url(../images/coverpage_01.gif) no-repeat;
	line-height:25px;
	font-weight:bold;
	color:#003399;
	text-indent:10px;
}
.coverpage_left_nr{
	width:228px;
    height:260px;
	border-top:0px;
	border-right:1px solid #E3D2E8;
	border-bottom:1px solid #E3D2E8;
	border-left:1px solid #E3D2E8;
}
.coverpage_left_nr .gyzz_01{
	width:210px;
	margin-top:10px;
	margin-right:5px;
	margin-bottom:10px;
	margin-left:5px;
}
.coverpage_left_nr .gyzz_01 .zz{
	width:210px;
	height:75px;
	overflow:hidden;
	clear:both;
	margin-bottom:5px;
}
.coverpage_left_nr .gyzz_01 .zz .left{
	width:75px;
	height:75px;
	margin-top:0px;
	margin-right:5px;
	margin-bottom:0px;
	margin-left:0px;
	float:left;
}
.coverpage_left_nr .gyzz_01 .zz .right{
	width:125px;
	height:75px;
	float:right;
	text-align:left;
}
.coverpage_left_nr .gyzz_01 .zzgg{
	width:210px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	clear:both;
	font-weight:bold;
	border-bottom:1px dotted #CCCCCC;
}
.coverpage_left_nr .gyzz_01 .zzggnr{
	width:210px;
	overflow:hidden;
	line-height:20px;
	text-indent:24px;
	margin-top:5px;	
}
.coverpage_left_nr .gyzz_02{
	width:210px;
	margin:10px auto;
}
.coverpage_left_nr .gyzz_02 ul{
	margin:0 auto;
	padding:0px;
	list-style-type:none;
}
.coverpage_left_nr .gyzz_02 ul li{
	height:20px;
	line-height:20px;
	padding:0px;
	color:#000000;
}
.coverpage_left_nr .gyzz_02 ul li a:link{
	color:#000000;
	text-decoration:none;
}
.coverpage_left_nr .gyzz_02 ul li a:visited{
	color:#000000;
	text-decoration:none;
}
.coverpage_left_nr .gyzz_02 ul li a:hover{
	color:#666666;
	position:relative;
	top:1px;
	text-decoration:underline;
}
.coverpage_left_nr .gyzz_02 ul li a:active{
	color:#000000;
	text-decoration:none;
}
.coverpage_left_nr .gyzz_02 ul li.more{
	height:20px;
	line-height:20px;
	text-align:right;
	padding:0px;
	color:#003399;
}
.coverpage_left_nr .gyzz_02 ul li.more a:link{
	color:#003399;
	text-decoration:none;
}
.coverpage_left_nr .gyzz_02 ul li.more a:visited{
	color:#003399;
	text-decoration:none;
}
.coverpage_left_nr .gyzz_02 ul li.more a:hover{
	color:#003399;
	position:relative;
	top:1px;
	text-decoration:underline;
}
.coverpage_left_nr .gyzz_02 ul li.more a:active{
	color:#FF0000;
	text-decoration:none;
}
/*右边部分*/
.coverpage_right{
	width:710px;
	border:1px solid #CCCCCC;
	background:url(../images/green_08.gif) repeat-x;
	float:right;
}
.coverpage_right_01{
	height:30px;
	line-height:30px;
	width:680px;
	margin:0 auto;
	clear:both;
	color:#666666;
}
.coverpage_right_01 a:link{
	color:#666666;
	text-decoration:none;
}
.coverpage_right_01 a:visited{
	color:#666666;
	text-decoration:none;
}
.coverpage_right_01 a:hover{
	color:#666666;
	text-decoration:underline;
}
.coverpage_right_01 a:active{
	color:#666666;
	text-decoration:none;
}
.coverpage_right_02{
	height:60px;
	line-height:60px;
	width:680px;
	margin:0 auto;
	clear:both;
	color:#FF0000;
	font-weight:bold;
	font-size:26px;
	text-align:center;
}
.coverpage_right_02 a:link{
	font-size:12px;
	font-weight:normal;
	color:#999999;
	text-decoration:none;
}
.coverpage_right_02 a:visited{
	color:#999999;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
}
.coverpage_right_02 a:hover{
	color:#999999;
	font-size:12px;
	font-weight:normal;
	text-decoration:underline;
}
.coverpage_right_02 a:active{
	color:#999999;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
}
.coverpage_right_03{
	width:680px;
	margin:0 auto;
	height:260px;
	overflow:hidden;
}
.coverpage_right_03 .left{
	width:160px;
	float:left;
	text-align:center;
}
.coverpage_right_03 .right{
	width:510px;
	float:right;
	text-align:left;
}
.coverpage_right_03 .right .nr_01{
	height:25px;
	line-height:25px;
	font-weight:bold;
	border-bottom:1px dotted #CCCCCC;
}
.coverpage_right_03 .right .nr_02{
	height:180px;
	margin-top:10px;
    margin-bottom: 10px;
	line-height:20px;
	overflow:hidden;
}
.coverpage_right_03 .right .nr_02 a:link{
	color:#000000;
	text-decoration:none;
}
.coverpage_right_03 .right .nr_02 a:visited{
	color:#000000;
	text-decoration:none;
}
.coverpage_right_03 .right .nr_02 a:hover{
	position:relative;
	top:1px;
	color:#333333;
	text-decoration: underline;
}
.coverpage_right_03 .right .nr_02 a:active{
	color:#000000;
	text-decoration:none;
}
.coverpage_right_03 .right .nr_02 p{
	color:#003399;
    height: 140px;
}
.coverpage_right_03 .right .nr_03{
	height:40px;
	overflow:hidden;
}
.coverpage_right_03 .right .nr_03 a{
	border:0px;
    margin-right: 25px;
}
.coverpage_right_03 .right .nr_03 img{
	border:0px;
}
.coverpage_right_04{
	width:682px;
	overflow:hidden;
	margin:0 auto;
	height:30px;
	overflow:hidden;
	background:url(../images/coverpage_12.gif) repeat-x;
}
.coverpage_right_05{
	width:680px;
	overflow:hidden;
	margin:0 auto;
	border-top:0px;
	border-right:1px solid #FFCC66;
	border-bottom:1px solid #FFCC66;
	border-left:1px solid #FFCC66;
}
.coverpage_right_05 .nr{
	width:600px;
	overflow:hidden;
	margin:20px auto;
}
.coverpage_right_05 .nr ul{
	width:600px;
	overflow:hidden;
	margin:0 auto;
	padding:0px;
	list-style-type:none;
}
.coverpage_right_05 .nr ul li{
	width:200px;
	overflow:hidden;
	float:left;
	height:25px;
	line-height:25px;
}
.coverpage_right_06{
	width:682px;
	overflow:hidden;
	margin:0 auto;
	height:42px;
	overflow:hidden;
	background:url(../images/coverpage_15.gif) left bottom repeat-x;
}
.coverpage_right_06 h3.up{
	width:126px;
	height:30px;
	float:left;
	overflow:hidden;
	margin-right:4px;
	background:url(../images/coverpage_13.gif) no-repeat;
	text-align:center;
	line-height:30px;
	color:#FF0000;
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
}
.coverpage_right_06 h3{
	width:126px;
	height:30px;
	float:left;
	overflow:hidden;
	margin-right:4px;
	line-height:30px;
	text-align:center;
	background:url(../images/coverpage_14.gif) no-repeat;
	color:#000000;
	font-size:12px;
	cursor:pointer;
}

.coverpage_right_06 .aa{
	width:126px;
	height:30px;
	float:left;
	overflow:hidden;
	margin-right:4px;
	background:url(../images/coverpage_13.gif) no-repeat;
	text-align:center;
	line-height:30px;
	color:#FF0000;
	font-weight:bold;
}
.coverpage_right_06 .bb{
	width:126px;
	height:30px;
	float:left;
	overflow:hidden;
	margin-right:4px;
	line-height:30px;
	text-align:center;
	background:url(../images/coverpage_14.gif) no-repeat;
	color:#000000;
}
.coverpage_right_07{
	width:680px;
	overflow:hidden;
	margin:0 auto;
	border-top:0px;
	border-right:1px solid #FFACCF;
	border-bottom:1px solid #FFACCF;
	border-left:1px solid #FFACCF;
}

.coverpage_right_07 .downloadlink{
	height:34px;
    line-height: 34px;
	overflow:hidden;
}
.coverpage_right_07 .downloadlink a{
    margin-left: 25px;
    text-decoration: none;
}
.box2{
	line-height:20px;
	padding:8px;
	width:610px;
	overflow:hidden;
	margin:5px auto;
	border:1px dotted #FFACCF;
	background-color:#FFF9FB;
	color:#FF87BA;
}
.coverpage_right_07ss{
	width:640px;
	clear:both;
	margin:10px auto;
	line-height:20px;
}
.coverpage_right_07ss a:link{
	color: #000000;
	text-decoration:none;
}
.coverpage_right_07ss a:visited{
	color:#000000;
	text-decoration:none;
}
.coverpage_right_07ss a:hover{
	color:#000000;
	text-decoration: underline;
}
.coverpage_right_07ss a:active{
	color:#000000;
	text-decoration:none;
}
.coverpage_right_08{
	width:650px;
	overflow:hidden;
	margin:10px auto;
	border-top:0px;
}
.coverpage_right_08_a{
	width:630px;
	overflow:hidden;
}
.coverpage_right_08_a .left{
	float:left;
	margin-right:20px;
}
.coverpage_right_08_a .right{
	float:left;
	width:120px;
	overflow:hidden;
	color:#999999;
	line-height:20px;
}
.tlq_zzhf {
	border-bottom: #c0dbe4 1px dotted; border-left: #c0dbe4 1px dotted; margin: 0px auto; width: 508px; background: #eef9ff; border-top: #c0dbe4 1px dotted; border-right: #c0dbe4 1px dotted
}
.tlq_zzhf p {
	padding-bottom: 10px; line-height: 20px; margin: 0px auto; padding-left: 10px; padding-right: 10px; color: #08526b; padding-top: 10px
}
.tlq_answer {
	margin: 0px auto; width: 508px; border-top: #eeeeee 1px solid
}
.tlq_answer_lynr {
	border-bottom: #cccccc 1px solid; border-left: #cccccc 1px solid; line-height: 20px; width: 505px; font-family: arial, helvetica, sans-serif, "宋体"; height: 100px; font-size: 12px; overflow: hidden; border-top: #cccccc 1px solid; border-right: #cccccc 1px solid
}
.tlq_answer_hf {
	line-height: 22px; margin: 0px auto; width: 140px; height: 20px; color: #666666
}
.tlq_answer_hf_l {
	text-align: center; width: 66px; background: url(../images/coverpage20.gif); float: left; height: 20px
}
.tlq_answer_hf_r {
	text-align: center; width: 66px; background: url(../images/coverpage20.gif); float: right; height: 20px
}
.tlq_answer_hf a:link {
	color: #666666; text-decoration: none
}
.tlq_answer_hf a:visited {
	color: #666666; text-decoration: none
}
.tlq_answer_hf a:hover {
	color: #333333; text-decoration: none
}
.tlq_answer_hf a:active {
	color: #666666; text-decoration: none
}
.spzj {
	line-height: 30px; margin: 0px auto; width: 579px; height: 30px; clear: both; overflow: hidden; border-top: #cccccc 1px solid
}
.spzj_left {
	float: left
}
.spzj_left a:link {
	color: #ff0000; text-decoration: none
}
.spzj_left a:visited {
	color: #ff0000; text-decoration: none
}
.spzj_left a:hover {
	position: relative; color: #ff0000; top: -1px; text-decoration: none; left: -1px
}
.spzj_left a:active {
	color: #ff0000; text-decoration: none
}
.spzj_right {
	float: right; color: #1573ca
}
.spzj_right a:link {
	color: #1573ca; text-decoration: none
}
.spzj_right a:visited {
	color: #1573ca; text-decoration: none
}
.spzj_right a:hover {
	position: relative; color: #1573ca; top: -1px; text-decoration: none; left: -1px
}
.spzj_right a:active {
	color: #1573ca; text-decoration: none
}
.messages {
	line-height: 20px; margin: 0px auto; width: 579px; clear: both
}
.messages_left {
	width: 450px; float: left; overflow: hidden
}
.messages_leftbiaoti {
	line-height: 30px; width: 450px; height: 30px; overflow: hidden; _line-height: 30px
}
.messages_leftbiaoti div {
	float: left; margin-right: 5px
}
.messages_leftbiaoti div select {
	position: relative; height: 22px; top: 1px; _top: 2px; _height: 16px
}
.messages_leftbiaoti div input {
	position: relative; width: 323px; height: 16px; font-size: 12px; overflow: hidden; top: 1px; _height: 16px
}
.messages_leftface {
	line-height: 30px; width: 450px; height: 30px; overflow: hidden; _line-height: 30px
}
.leftfacediv {
	float: left; margin-right: 4px
}
.messages_leftface div .img01 {
	margin-top: 3px; width: 19px; height: 19px; overflow: hidden; margin-right: 5px
}
.messages_leftface div .img02 {
	margin-top: 3px; width: 80px; height: 19px; overflow: hidden; cursor: pointer
}
.messages_leftcont {
	width: 450px; overflow: hidden
}
.messages_leftcont div {
	float: left; margin-right: 5px
}
.messages_leftcont div .textarea {
	position: relative; line-height: 20px; width: 393px; float: left; height: 100px; overflow: hidden
}
.messages_lefttijiao {
	text-align: center; line-height: 30px; height: 30px
}
.messages_lefttijiao p {
	text-align: center; padding-bottom: 0px; line-height: 28px; margin: 0px auto; padding-left: 0px; width: 76px; padding-right: 0px; background: url(../images/coverpage08.gif) no-repeat; height: 26px; color: #ff6600; font-size: 14px; overflow: hidden; padding-top: 0px
}
.messages_lefttijiao a:link {
	color: #ff6600; text-decoration: none
}
.messages_lefttijiao a:visited {
	color: #ff6600; text-decoration: none
}
.messages_lefttijiao a:hover {
	color: #fb924d; text-decoration: none
}
.messages_lefttijiao a:active {
	color: #ff6600; text-decoration: none
}
.messages_right {
	width: 125px; float: right; color: #999999; overflow: hidden
}
.messages_right p {
	margin: 0px auto
}
.messages_right a:link {
	color: #999999; text-decoration: none
}
.messages_right a:visited {
	color: #999999; text-decoration: none
}
.messages_right a:hover {
	color: #999999; text-decoration: underline
}
.messages_right a:active {
	color: #999999; text-decoration: none
}
.cpl02 {
	width: 750px; clear: both; overflow: hidden
}
.cpl02left {
	width: 140px; float: left; overflow: hidden
}
.cpl02left .ltit01 {
	line-height: 35px; text-indent: 10px; width: 140px; background: url(../images/coverpage12.gif) no-repeat; height: 38px; overflow: hidden; font-weight: bold
}
.cpl02left .lnr01 {
	border-bottom: #bee2ee 1px solid; border-left: #bee2ee 1px solid; margin: 0px auto; width: 138px; border-right: #bee2ee 1px solid
}
.cpl02left .lnr01 .leftnr01 {
	border-bottom: #f5fafd 6px solid; border-left: #f5fafd 6px solid; background: #ffffff; border-top: 0px; border-right: #f5fafd 6px solid
}
.cpl02right {
	width: 600px; float: right
}
.lovertit {
	width: 600px; background: url(../images/coverpage21.gif) no-repeat; height: 32px
}
.lovertit .lovertit001 {
	width: 10px; float: left; height: 32px; overflow: hidden
}
.lovertit .lovertit002 {
	margin-top: 8px; float: left; overflow: hidden; margin-right: 5px
}
.lovertit .lovertit003 {
	line-height: 32px; float: left; overflow: hidden; font-weight: bold; _line-height: 32px
}
.tlqgd {
	margin-top: 11px; width: 169px; float: right; height: 21px; overflow: hidden
}
.tlqgdnnr {
	width: 70px; float: left; height: 21px; overflow: hidden
}
.pl_question {
	margin: 0px auto; width: 579px; background: #eeeeee; height: 25px; color: #1573ca; overflow: hidden
}
.pl_question p {
	line-height: 25px; margin: 0px auto; padding-left: 10px
}
.pl_question a:link {
	color: #1573ca; text-decoration: none
}
.pl_question a:visited {
	color: #1573ca; text-decoration: none
}
.pl_question a:hover {
	color: #599edd; text-decoration: none
}
.pl_question a:active {
	color: #1573ca; text-decoration: none
}
.pl_questionnr {
	border-bottom: #ffffff 10px solid; border-left: #ffffff 10px solid; line-height: 20px; margin: 0px auto; width: 559px; color: #747474; overflow: hidden; border-top: #ffffff 10px solid; border-right: #ffffff 10px solid
}
.pl_questionnr a:link {
	color: #747474; text-decoration: none
}
.pl_questionnr a:visited {
	color: #747474; text-decoration: none
}
.pl_questionnr a:hover {
	color: #747474; text-decoration: underline
}
.pl_questionnr a:active {
	color: #747474; text-decoration: none
}
.pl_questionnr p {
	line-height: 20px; margin: 0px auto; width: 559px; overflow: hidden
}
.pl_questionnr001 {
	border-bottom: #ffffff 10px solid; border-left: #ffffff 10px solid; line-height: 20px; margin: 0px auto; width: 559px; color: #000000; border-top: #ffffff 10px solid; border-right: #ffffff 10px solid
}
.pl_questionnr001 a:link {
	color: #000000; text-decoration: none
}
.pl_questionnr001 a:visited {
	color: #000000; text-decoration: none
}
.pl_questionnr001 a:hover {
	color: #000000; text-decoration: underline
}
.pl_questionnr001 a:active {
	color: #000000; text-decoration: none
}
.pl_questionnr001 p {
	line-height: 20px; margin: 0px auto
}
.fabiaonr {
	line-height: 20px; margin: 0px auto; width: 559px; height: 20px; color: #747474; overflow: hidden
}
.fabiaonr001 {
	text-align: right; line-height: 30px; margin: 0px auto; width: 559px; height: 30px; color: #747474; overflow: hidden
}
.fabiaonr001 a:hover {
	position: relative; top: -1px; text-decoration: none; left: -1px
}
.fmy_hfq {
	margin: 0px auto; width: 950px; clear: both; overflow: hidden
}
.fmy_hfq_top {
	line-height: 32px; text-indent: 15px; width: 950px; background: url(../images/coverpage34.gif) no-repeat; height: 30px; color: #000000; font-size: 13px; font-weight: bold
}
.fmy_hfq_top a:link {
	color: #000000; text-decoration: none
}
.fmy_hfq_top a:visited {
	color: #000000; text-decoration: none
}
.fmy_hfq_top a:hover {
	color: #000000; text-decoration: none
}
.fmy_hfq_top a:active {
	color: #000000; text-decoration: none
}
.fmy_hfq_bottom {
	border-bottom: #e6e6e6 1px solid; border-left: #e6e6e6 1px solid; margin: 0px auto; width: 948px; overflow: hidden; border-right: #e6e6e6 1px solid
}
.fmy_hfq_bottomnr {
	margin: 0px auto; width: 918px; clear: both; overflow: hidden
}
.fmy_hfq_bottomnr_01 {
	margin: 0px auto; width: 908px; height: 50px; clear: both; overflow: hidden
}
.fmy_hfq_bottomnr_01_left {
	text-align: left; line-height: 50px; float: left; height: 50px; overflow: hidden
}
.fmy_hfq_bottomnr_01_right {
	text-align: right; line-height: 50px; float: right; height: 50px; overflow: hidden
}
.fmy_hfq_bottomnr_01 a:link {
	color: #002065; text-decoration: none
}
.fmy_hfq_bottomnr_01 a:visited {
	color: #002065; text-decoration: none
}
.fmy_hfq_bottomnr_01 a:hover {
	color: #002065; text-decoration: underline
}
.fmy_hfq_bottomnr_01 a:active {
	color: #002065; text-decoration: none
}
.fmy_hfq_bottomnr_02 {
	line-height: 27px; text-indent: 5px; margin: 0px auto; width: 918px; background: #eeeeee; height: 27px; clear: both; font-size: 14px; overflow: hidden
}
.fmy_hfq_bottomnr_03 {
	padding-bottom: 15px; line-height: 25px; text-indent: 24px; margin: 0px auto; width: 908px; clear: both; font-size: 14px; overflow: hidden; padding-top: 15px
}
.fmy_hfq_bottomnr_04 {
	border-bottom: #dbdbdb 1px solid; line-height: 25px; margin: 0px auto; width: 918px; height: 25px; clear: both; overflow: hidden
}
.fmy_hfq_bottomnr_04_left {
	text-align: left; line-height: 25px; float: left; height: 25px; margin-left: 5px; overflow: hidden
}
.fmy_hfq_bottomnr_04_right {
	text-align: right; line-height: 25px; float: right; height: 25px; overflow: hidden; margin-right: 5px
}
.fmy_hfq_bottomnr_04 a:link {
	color: #1573ca; text-decoration: none
}
.fmy_hfq_bottomnr_04 a:visited {
	color: #1573ca; text-decoration: none
}
.fmy_hfq_bottomnr_04 a:hover {
	color: #1573ca; text-decoration: underline
}
.fmy_hfq_bottomnr_04 a:active {
	color: #1573ca; text-decoration: none
}
.fmy_hfq_bottomnr_05 {
	line-height: 27px; margin: 0px auto; width: 918px; background: #f5f5f5; height: 27px; clear: both; font-size: 14px; overflow: hidden
}
.fmy_hfq_bottomnr_05_left {
	float: left; margin-left: 5px
}
.fmy_hfq_bottomnr_05_right {
	float: right; margin-right: 5px
}
.fmy_hfq_bottomnr_06 {
	line-height: 25px; margin: 0px auto; width: 890px; clear: both; overflow: hidden; padding: 15px 8px;
}
.fmy_hfq_bottomnr_08 {
	border-bottom: #c0dbe4 1px dotted; border-left: #c0dbe4 1px dotted; padding-bottom: 15px; line-height: 25px; text-indent: 24px; margin: 0px auto; width: 848px; background: #eef9ff; clear: both; overflow: hidden; border-top: #c0dbe4 1px dotted; border-right: #c0dbe4 1px dotted; padding-top: 15px
}
.fmy_hfq_bottomnr_07 {
	border-bottom: #dbdbdb 1px solid; line-height: 25px; margin: 0px auto; width: 918px; height: 25px; clear: both; overflow: hidden
}
.fmy_hfq_bottomnr_07_left {
	text-align: left; line-height: 25px; float: left; height: 25px; margin-left: 5px; overflow: hidden
}
.fmy_hfq_bottomnr_07_right {
	text-align: right; line-height: 25px; float: right; height: 25px; overflow: hidden; margin-right: 5px
}
.fmy_hfq_bottomnr_07 a:link {
	color: #1573ca; text-decoration: none
}
.fmy_hfq_bottomnr_07 a:visited {
	color: #1573ca; text-decoration: none
}
.fmy_hfq_bottomnr_07 a:hover {
	color: #1573ca; text-decoration: underline
}
.fmy_hfq_bottomnr_07 a:active {
	color: #1573ca; text-decoration: none
}
a.reply_url { margin-left: 6px; }