@charset "utf-8";
/* CSS Document */
#load{
	width:400px;
	height:250px;
	overflow:hidden;
	margin:40px auto;
	border:1px solid #9ABEE3;
	background-color:#EEF7FF;
}
#load div{
	margin-top:10px;
	margin-left:30px;
	margin-right:30px;
}
img {
	border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px
}
.loadpagespace {
	margin: 0px auto; height: 15px; clear: both; overflow: hidden
}
.loadpagespacea {
	margin: 0px auto; height: 50px; clear: both; overflow: hidden
}
#loadpage {
	margin: 0px auto; width: 750px; background: url(../images/loadpage02.jpg) no-repeat; height: 500px; overflow: hidden
}
.loadpage {
	margin-top: 140px; width: 408px; background: url(../images/loadpage03.jpg) no-repeat; height: 351px; margin-left: 285px; overflow: hidden
}
.loadpagenr {
	margin: 0px auto; width: 345px; height: 250px; overflow: hidden
}
.loadpagenr form {
	padding-bottom: 0px; margin: 0px auto; padding-left: 0px; width: 345px; padding-right: 0px; padding-top: 0px
}
.loadpagenrtit {
	border-bottom: #ececec 1px solid; line-height: 35px; margin: 0px auto; width: 340px; height: 35px; color: #808080; clear: both; font-size: 14px; overflow: hidden; font-weight: bold
}
.loadxinxi {
	line-height: 32px; margin: 0px auto; width: 290px; height: 140px; color: #404040; clear: both; font-size: 13px; overflow: hidden
}
.loadxinxi ul {
	padding-bottom: 0px; list-style-type: none; margin: 0px auto; padding-left: 0px; width: 290px; padding-right: 0px; height: 32px; clear: both; overflow: hidden; padding-top: 0px
}
.loadxinxi ul li {
	padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
.loadxinxi ul li.lload {
	padding-bottom: 0px; padding-left: 0px; width: 60px; padding-right: 0px; float: left; overflow: hidden; padding-top: 0px
}
.loadxinxi ul li.rload {
	padding-bottom: 0px; padding-left: 0px; width: 210px; padding-right: 0px; float: left; overflow: hidden; padding-top: 0px
}
.loaddl {
	line-height: 40px; margin: 0px auto; width: 290px; height: 40px; color: #404040; clear: both; font-size: 13px; overflow: hidden
}
.loaddl ul {
	padding-bottom: 0px; list-style-type: none; margin: 0px auto; padding-left: 0px; width: 290px; padding-right: 0px; height: 40px; clear: both; overflow: hidden; padding-top: 0px
}
.loaddl ul li {
	padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
.loaddl ul li.lload {
	padding-bottom: 0px; padding-left: 0px; width: 65px; padding-right: 0px; float: left; padding-top: 0px
}
.loaddl ul li.mload {
	padding-bottom: 0px; padding-left: 0px; width: 85px; padding-right: 0px; float: left; overflow: hidden; padding-top: 0px
}
.loaddl ul li.rload {
	padding-bottom: 0px; line-height: 40px; padding-left: 0px; width: 115px; padding-right: 0px; float: left; color: #808080; overflow: hidden; padding-top: 0px
}
.loaddl ul li.rload a:link {
	color: #808080; text-decoration: none
}
.loaddl ul li.rload a:visited {
	color: #808080; text-decoration: none
}
.loaddl ul li.rload a:hover {
	color: #000000; text-decoration: underline
}
.loaddl ul li.rload a:active {
	color: #808080; text-decoration: none
}
.loadline01 {
	border-bottom: #ececec 1px solid; width: 345px; height: 15px; clear: both; overflow: hidden
}
.loadline02 {
	width: 345px; height: 2px; clear: both; overflow: hidden; border-top: #ffffff 1px solid
}
.loadbottom {
	text-align: center; line-height: 50px; margin: 0px auto; width: 720px; height: 50px; color: #666666; clear: both; font-size: 12px; overflow: hidden; border-top: #d3ebf9 1px solid
}
.loadbottom a:link {
	color: #666666; text-decoration: none
}
.loadbottom a:visited {
	color: #666666; text-decoration: none
}
.loadbottom a:hover {
	color: #000000; text-decoration: underline
}
.loadbottom a:active {
	color: #666666; text-decoration: none
}

#verifyImg { vertical-align: middle; margin-left: 8px; }