body {
	margin: 0px;
    font-family: arial, helvetica, sans-serif, "新宋体";
    background: #e9f5fe;
    font-size: 12px
}
a:link {
	color: #1b3264;
    text-decoration: none
}
a:visited {
	color: #1b3264;
    text-decoration: none
}
a:hover {
	color: #3d61b0;
    text-decoration: none
}
a:active {
	color: #1b3264;
    text-decoration: none
}
.qwyd_spacer01 {
	height: 8px; 
    clear: both;
    overflow: hidden
}
.qwyd_spacer02 {
	height: 20px; 
    clear: both;
    overflow: hidden
}
.qwyd_spacer03 {
	height: 40px; 
    clear: both;
    overflow: hidden
}
.qwyd_top {
	text-align: center;
    line-height: 25px;
    margin: 0px auto;
    width: 960px;
    background: #abd7ff;
    height: 24px;
    color: #1b3264;
    clear: both;
    font-size: 14px;
    overflow: hidden;
    border-top: #a5b9c5 1px solid;
    _line-height: 25px
}
.qwyd_bt {
	text-align: center; 
    line-height: 80px;
    margin: 0px auto;
    width: 960px;
    height: 80px;
    clear: both;
    font-size: 26px;
    overflow: hidden;
    font-weight: bold
}
.qwyd_auth {
	line-height: 30px;
    text-indent: 30px;
    margin: 0px auto;
    width: 960px;
    height: 30px;
    clear: both;
    font-size: 12px;
    overflow: hidden
}
.mulu01 {
	text-align: center;
    line-height: 25px;
    margin: 0px auto;
    width: 920px;
    background: #e3f2ff;
    height: 25px;
    clear: both;
    font-size: 12px;
    overflow: hidden;
    border-top: #c3dfec 1px solid;
    font-weight: bold;
    _width: 960px
}
.slul {
	line-height: 25px;
    list-style-type: none;
    margin: 0px auto;
    width: 900px;
    height: 25px;
    overflow: hidden
}
.slul li {
	padding-bottom: 0px;
    line-height: 25px;
    padding-left: 0px;
    width: 290px;
    padding-right: 0px;
    float: left;
    height: 25px;
    overflow: hidden;
    margin-right: 9px;
    padding-top: 0px
}
.mulu {
	border-bottom: #e1e1e1 1px solid;
    line-height: 25px;
    list-style-type: none;
    margin: 0px auto;
    width: 900px;
    height: 24px;
    font-size: 12px;
    overflow: hidden
}
.mulu li {
	padding-bottom: 0px;
    line-height: 25px;
    padding-left: 0px;
    width: 290px;
    padding-right: 0px;
    float: left;
    height: 25px;
    overflow: hidden;
    margin-right: 9px;
    padding-top: 0px
}
.title {
	border-bottom: #c3dfec 1px solid;
    text-align: center;
    line-height: 25px;
    margin-bottom: 20px;
    float: inherit;
    color: #0000ff;
    clear: both;
    overflow: hidden
}
.title h1 {
	margin-top: 60px; 
    margin-bottom: 10px;
    clear: both;
    font-size: 16px;
    overflow: hidden
}
.thanks {
	text-align: center;
    line-height: 30px;
    margin: 0px auto;
    width: 90%;
    color: #7990c0;
    font-weight: bold
}

#read_book {
    width: 960px;
    margin: 0 auto;
}

.volume_contents {
    line-height: 25px;
    margin: 0px auto;
    width: 95%;
    font-size: 14px;
    overflow: hidden;
}

.mulu_sub {
	border-bottom: #e1e1e1 1px solid;
    line-height: 25px;
    list-style-type: none;
    height: 24px;
    font-size: 12px;
    overflow: hidden;
    margin-right: 9px;
    padding: 0px;
    float: left;
    width: 290px;
}
ul, li {
    list-style-type: none;
}