@charset "utf-8";
/* CSS Document */
.top{
	width:950px;
	margin:0 auto;
	border:1px solid #CFE1F4;
	background:#F9FBFF;
}
.top_0111{
	height:225px;
	overflow:hidden;
	line-height:25px;
	border-bottom:1px solid #CFE1F4;
}
.top_01{
	height:25px;
    clear: both;
	overflow:hidden;
	line-height:25px;
	border-bottom:1px solid #CFE1F4;
}
.top_01_fl{
	width:945px;
	margin:0 auto;
}
.top_01_fla{
	width:105px;
	float:left;
	text-align:center;
	color:#003399;
}
.top_01_fla a:link{
	color:#003399;
	text-decoration:none;
}
.top_01_fla a:visited{
	color:#003399;
	text-decoration:none;
}

.top_01_fla a:hover{
	color:#C08FC6;
	text-decoration:underline;
}

.top_01_fla a:active{
	color:#003399;
	text-decoration:none;
}
.top_01 ul,.top_02 .han{
	width:880px;
	overflow:hidden;
	padding:0px;
	margin:0 auto;
	list-style-type:none;
}
.top_01 .han .jg01,.top_02 .han .jg01{
	width:30px;
	height:25px;
	line-height:25px;
	float:left;
	overflow:hidden;
	padding:0px;
	margin-right:5px;
}
.top_01 .han .jg02,.top_02 .han .jg02{
	width:80px;
	padding:0px;
	height:25px;
	line-height:25px;
	float:left;
	overflow:hidden;
	margin-right:5px;
}
.top_01 .han .jg03,.top_02 .han .jg03{
	padding:0px;
	height:25px;
	line-height:25px;
	float:left;
	width:160px;
	overflow:hidden;
	margin-right:5px;
}
.top_01 .han .jg03 a:link,.top_02 .han .jg03 a:link{
	color:#003399;
	text-decoration:none;
}
.top_01 .han .jg03 a:visited,.top_02 .han .jg03 a:visited{
	color:#003399;
	text-decoration:none;
}
.top_01 .han .jg03 a:hover,.top_02 .han .jg03 a:hover{
	color:#003399;
	text-decoration:underline;
}
.top_01 .han .jg03 a:active,.top_02 .han .jg03 a:active{
	color:#003399;
	text-decoration:none;
}
.top_01 .han .jg04,.top_02 .han .jg04{
	padding:0px;
	height:25px;
	line-height:25px;
	float:left;
	width:80px;
	overflow:hidden;
	margin-right:5px;
}
.top_01 .han .jg05,.top_02 .han .jg05{
	padding:0px;
	height:25px;
	line-height:25px;
	float:left;
	width:260px;
	overflow:hidden;
	margin-right:5px;
}
.top_01 .han .jg05 a:link,.top_02 .han .jg05 a:link{
	color:#000000;
	text-decoration:none;
}
.top_01 .han .jg05 a:visited,.top_02 .han .jg05 a:visited{
	color:#000000;
	text-decoration:none;
}
.top_01 .han .jg05 a:hover,.top_02 .han .jg05 a:hover{
	color:#333333;
	text-decoration:underline;
}
.top_01 .han .jg05 a:active,.top_02 .han .jg05 a:active{
	color:#000000;
	text-decoration:none;
}
.top_01 .han .jg06,.top_02 .han .jg06{
	width:100px;
	height:25px;
	line-height:25px;
	padding:0px;
	float:left;
	overflow:hidden;
	margin-right:5px;
}
.top_01 .han .jg06 a:link,.top_02 .han .jg06 a:link{
	color:#000000;
	text-decoration:none;
}
.top_01 .han .jg06 a:visited,.top_02 .han .jg06 a:visited{
	color:#000000;
	text-decoration:none;
}
.top_01 .han .jg06 a:hover,.top_02 .han .jg06 a:hover{
	color:#333333;
	text-decoration:underline;
}
.top_01 .han .jg06 a:active,.top_02 .han .jg06 a:active{
	color:#000000;
	text-decoration:none;
}
.top_01 .han .jg07,.top_02 .han .jg07{
	padding:0px;
	height:25px;
	line-height:25px;
	float:left;
	width:50px;
	overflow:hidden;
	margin-right:5px;
}
.top_01 .han .jg08,.top_02 .han .jg08{
	padding:0px;
	height:25px;
	line-height:25px;
	float:left;
	width:80px;
	overflow:hidden;
	margin-right:5px;
	text-align:right;
}
.top_02{
	height:25px;
    clear: both;
	background-color:#FFFFFF;
	line-height:25px;
	overflow:hidden;
	border-bottom:1px solid #CFE1F4;
}
